
main{
    width: 70%;
    margin: 10px auto;
    text-align: center;
    display: flex;
    flex-direction: column;
}
.row{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
#discript{
   width: 50%;
   height: 2em;
}
#price{
  width: 30%;
  height: 2em;
}
button{
    height: 3em;
    width: 85%;
    margin: 3em auto;
    background-color: rgb(82, 209, 82);
}
